# Data files
data/raw/*
data/processed/*

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.py[cod]
*$py.class

# VS Code
.vscode/
*.code-workspace
.history/

# Git
.git-rewrite/

# Environment
.env
.venv/
venv/
ENV/

# Streamlit
.streamlit/

# System files
.DS_Store
Thumbs.db
